[submodule "groupy"]
	path = groupy
	url = git@github.com:joevandyk/groupy.git
[submodule "psrc"]
	path = psrc
	url = git@github.com:joevandyk/psrc.git
[submodule "daily-caption"]
	path = daily-caption
	url = git@github.com:joevandyk/daily-caption.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:joevandyk/dotfiles.git
[submodule "monkeycharger"]
	path = monkeycharger
	url = git@github.com:joevandyk/monkeycharger.git
[submodule "bizbuzz"]
	path = bizbuzz
	url = git@git.fixieconsulting.com:bizbuzz.git
